<div class="card">
  <div class="card-body">
    <div class="input-group">
      <span class="input-group-btn">
        <button
          type="button"
          (click)="this.modifyProgress(-5)"
          [ngClass]="btnClass"
        >
          <i class="fa fa-minus"></i>
        </button>
      </span>
      <input
        type="number"
        max="100"
        min="0"
        name="progreso"
        [ngClass]="{'is-invalid': progreso<0 || progreso>100}"
        class="form-control"
        (ngModelChange) = "onChange($event)"
        [(ngModel)]="progreso"
      />
      <span class="input-group-btn">
        <button
          type="button"
          (click)="this.modifyProgress(5)"
          [ngClass]="btnClass"
        >
          <i class="fa fa-plus"> </i>
        </button>
      </span>
    </div>
  </div>
</div>
